* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b1315;
    overflow-x: hidden; 
}

.container {
    max-width: 1603px;
    margin: 0 auto;
    overflow: hidden; 
}

.z-index-99 {
    z-index: 99;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.Tangerine {
    font-family: 'Tangerine', cursive;
}

.Oswald {
    font-family: 'Oswald', sans-serif;
}

.p-30 {
    padding-top: 30px;
}

a {
    text-decoration: none;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/* col */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 15px;
}

.col-1 { width: 8.3333%; }
.col-2 { width: 16.6666%; }
.col-3 { width: 25%; }
.col-4 { width: 33.3333%; }
.col-5 { width: 41.6666%; }
.col-6 { width: 50%; }
.col-7 { width: 58.3333%; }
.col-8 { width: 66.6666%; }
.col-9 { width: 75%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6666%; }
.col-12 { width: 100%; }

/* header */
.logo a img {
    width: 240px;
    padding: 36px 39px 40px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    padding: 15px 20px;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
    font-size: 20px;
}

.menu ul li a:hover {
    color: #6c4002c7;
}

.book-tablie {
    margin-right: 10px;
}

.book-tablie a {
    padding: 11px 34px;
    border: 1px solid #C9AB81;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.book-tablie a:hover {
    background-color: #C9AB81;
}

/* banner */
.swiper {
    width: 100%;
    overflow: hidden;
}

.content-box {
    position: relative;
    padding: 230px 150px;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}

.content-box .sub____title,
.about-box .sub____title {
    position: relative;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1300ms;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #C9AB81;
}

.content-box h1 {
    position: relative;
    color: #ffffff;
    font-weight: 200;
    font-size: 75px;
    line-height: 74px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.content-box h1 span {
    position: relative;
    color: #C9AB81;
}

.content-box p {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    line-height: 29px;
    font-weight: 500;
    margin-bottom: 45px;
}

.banner .image-box.style-one {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.banner .image-box {
    position: absolute;
    width: 100%;
    height: 862px;
    overflow: hidden;
}

.banner figure img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.swiper-pagination {
    background: transparent;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 0px 10px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 29px;
    position: relative;
    display: inline-block !important;
}

.swiper-pagination span {
    padding: 5px 0;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #ffffff;
    color: #C9AB81;
}

.about-box h1 {
    position: relative;
    color: #ffffff;
    font-weight: 200;
    font-size: 42px;
    line-height: 74px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.about-box h1 span {
    position: relative;
    color: #C9AB81;
}

.about-box p {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    line-height: 29px;
    font-weight: 500;
    margin-bottom: 45px;
}

.icon.icons-2 {
    position: relative;
    width: 351px;
    height: 430px;
    top: 50%;
    left: 10px;
    background-image: url("../images/shape-02.png");
    transform: translate(-37%);
    perspective: 500px;
    animation: animateTree 5s ease-in infinite;
}

.about-img {
    position: relative;
    left: 35%;
}

.p-absolute {
    position: absolute;
    bottom: 4px;
    z-index: 99;
}
.food .col-6{
    padding: 0;
}
.food-left {
    padding: 22px ;
    background-color: #0f1d22;
    height: 900px;
}
.food-left .img-block{
    width: 90px;
    height: 90px;
    border: 1px solid #C9AB81;
    border-radius: 100%;
}
.food-left .img-block img {
    width: 47px;
    height:35px;
    object-fit: cover;
}
.food-left .food-text{
    padding: 0 15px 60px ;
}
.food-left .food-text h2{
    padding: 22px 0;
    color: #ffffff;
}
.food-left .food-text p{
    padding: 22px 0;
    color: #8c8c8c;
    font-size: 19px;
}
.food-left .food-text h5{
    padding: 18px 0;
    color: #ffffff;
    font-size: 19px;

}
.food-right img{
    width: 790px;
    height: 900px;
    object-fit: cover;
}


.menu-title .sub____title {
    text-align: center;
    color: #C9AB81;
    font-size:30px ;
}
.about-box .icon.icons-3 {
    position: relative;
    width: 60px;
    height: 87px;
    top: 50%;
    background-image: url("../images/menu-icon-01.png");
    background-repeat: no-repeat;
    transform: translate(-37%);
    perspective: 500px;
    animation: animateTree 5s ease-in infinite;
}
.menu-img{
    margin: 0 48%;
}
.menu-form-block{
    padding-right: 15px;
}
.menu-text-block .sub____title{
    padding: 5px 0;
    font-size: 36px;
    border-bottom: 1px solid #C9AB81;
    color: #ffffff;
}
.body-one{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: var(--white-color);
}
.name-price{
    color: #ffffff;
}
.body-one li p{
    color: #C9AB81;
}
.b-bottom {
    border-bottom: 1px solid #C9AB81;
    padding: 10px 0;
}
.menu-img-block img{
    padding: 10px  0;
    width: 100%;
    
    border-radius: 30px;
}
.myswiper .swiper-wrapper .swiper-slide{
    width: 505px !important;
}
.chef-btn{
    padding: 30px 0;
}
.chef-text h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 56px;
}
.chef-btn-light {
    border: 1px solid #ffffff;
    padding:10px 15px;
    color: #C9AB81;
    margin-right:30px;
    border-radius: 8px;
    transition: all 0.8s ease;
}
.chef-btn-light:hover{
    transform-style: preserve-3d;
    background-color: #C9AB81;
    border: 0;
    color: #ffffff;
}
.chef-btn-dark{
    background-color: #715b3e;
    color: #ffffff;
    padding:10px 15px;
    border-radius: 8px;
    transition: all 0.8s ease;
}
.chef-btn-dark:hover{
    transform-style: preserve-3d;
    background-color: #C9AB81;
    border: 0;
    color: #ffffff;
}

.chef-img img{
    border-radius: 10px;
}
.review-img img {
    width: 139px;
    height: 139px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 30px;
}
.review-text {
    padding: 15px 0;
    h4{
        margin-bottom: 10px;
        color: #C9AB81;
        font-size: 30px;
        font-weight: 800;
    }
    p{
        color: #ffffff;
    }
}
.swiper-button-next::after{
    content: 'f061';
}

.swiper-button-prev::after{
    content: 'f062';
}
footer {
    padding: 30px 100px;
    border-top: 1px solid #C9AB81;
    border-bottom: 1px solid #C9AB81;
}
.footer-left p , .footer-right p {
   color: #ffffff; 
}
.footer-left{
    padding: 108px 0px 91px 235px;
    border-right: 1px solid #C9AB81;
}
.footer-right{
    padding: 108px 0px 91px 235px;
}
.b-l {
    border-right: 1px solid #C9AB81;
}
.p-20{
    padding-top:10px ;
}
.footer-links {
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.footer-links li {
    margin-right: 30px;
}

.footer-links a {
    text-decoration: none;
    color: #F2E8D8;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #FFD700;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 30px;
}

.icon {
    font-size: 16px;
}
