<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Earls</title>
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="./css/loder.css">
  <link rel="stylesheet" href="./css/font.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <!-- LODER -->
  <div class="body___border">
    <div class="border__top"></div>
    <div class="border__left"></div>
    <div class="border__right"></div>
  </div>
  <div class="boxed_wrapper one">
    <div class="loader-wrap">
      <div class="preloader">
          <div id="handle-preloader" class="handle-preloader">
              <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="E" class="letters-loading">E</span>
                    <span data-text-preloader="A" class="letters-loading">A</span>
                    <span data-text-preloader="R" class="letters-loading">R</span>
                    <span data-text-preloader="L" class="letters-loading">L</span>
                    <span data-text-preloader="S" class="letters-loading">S</span>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>  
  
  <!-- header -->
    <header class="header">
      <div class="container">
        <div class="row justify-between align-center josefin">
          <div class="logo">
            <a href="#">
              <img src="./images/logo.png" alt="Logo">
            </a>
          </div> 
          <nav class="menu">
            <ul class="row">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          <div class="book-tablie">
            <a href="#">Booking A Tabil</a>
          </div>
        </div>
      </div>
    </header>





    <!-- js -->
     <script src="./js/script.js"></script>
</body>
</html>
