<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN-UP</title>
    <link rel="stylesheet" href="css/sgnlgn.css">
</head>

<body>
    <div class="bg">
        <img src="images/bg.jpg" alt="">
    </div>
    <div class="login-container">
        <div class="login-form">
            <h1>Signup</h1>
            <form action="/login" method="post" id="userData">
                <div class="input-group">
                    
                    <label for="user">User-Name</label>
                    <input type="text" id="username" name="user" required>
                </div>
                <div class="input-group">

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Signup</button>
            </form>
        </div>
    </div>


    <script src="./js/singup.js"></script>
</body>

</html>
